// Large desktops
$screen-xl-min: 1440px; // 90em
// @2x: 2880px
// @3x: 4320px

// Tablets and small desktops
$screen-lg-min: 960px; // 60em
// @2x: 1920px
// @3x: 2880px

// Small tablets and large smartphones
$screen-md-min: 480px;  // 30em
// @2x: 960px
// @3x: 1440px

// ---------------------------------
// hero image sizes
// ---------------------------------
//  - large & x-large


// small aspect-ratio: 1.5:1
// image-small-480.webp 1x
// image-small-960.webp 2x
// image-small-1440.webp 3x

// medium aspect-ratio: 1.85:1
// image-960.webp 1x
// image-1920.webp 2x

// large aspect-ratio: 2.4:1
// hero-large-1440.webp

// x-large aspect-ratio: 2.4:1
//  hero-x-large-1920.webp 1920w  //this is based on .container{max-width: 120em;}

// ---------------------------------
// ---------------------------------

// 2560px

// check aspect ratio like 1:3


// info: Most common screen resolutions:

//     Desktop: 1920×1080, 1366×768, 1280×1024, 1024×768
//     Tablet: 768×1024, 1024×768, 601×962
//     Mobile: 375×667, 414×736, 360×800, 390×844
