$clr-primary-400: #7e222b;

$clr-neutral-100: #ffffff;
$clr-neutral-300: #fff6f6;
$clr-neutral-400: #f8efef;
$clr-neutral-500: #f6eaea;
$clr-neutral-800: #1e1e1e;
$clr-neutral-900: #000000;

$clr-gradient: linear-gradient(180deg, #83242b 0%, #a52d2a 100%);
$clr-gradient-hero: linear-gradient(180deg, rgba(124, 33, 42, 0.9) 0.67%, rgba(170, 46, 41, 0.9) 120%);
