$ff-400: "Inter", sans-serif;

// $fs-xs: 0.625rem;
// $fs-smaller: 0.75rem;
// $fs-small: 0.9375rem;
// $fs-regular: 1.125rem;
// $fs-medium: 1.25rem;
// $fs-large: 1.875rem;
// $fs-larger: 2.1875rem;
// fs: 10, 12, 15, 18, 20, 30, 35

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;

$fs-fluid-200: clamp(0.75rem, 0.5903rem + 0.5941vw, 1.125rem);
$fs-fluid-250: clamp(0.75rem, 0.6702rem + 0.297vw, 0.9375rem);

$fs-fluid-400: clamp(0.9375rem, 0.8577rem + 0.297vw, 1.125rem);
$fs-fluid-450: clamp(0.9375rem, 0.8045rem + 0.495vw, 1.25rem);
$fs-fluid-470: clamp(0.9375rem, 0.5384rem + 1.4851vw, 1.875rem);

$fs-fluid-600: clamp(1.125rem, 0.6726rem + 1.6832vw, 2.1875rem);
