@use "../abstracts" as *;

body {
  font-family: $ff-400;
  background-color: $clr-neutral-300;
}

.container {
  margin-inline: auto;
  margin-top: clamp(5rem, 2.0198rem + 11.0891vw, 12rem);
  padding-top: 2rem + 3.75rem;
  padding-bottom: 2rem;
  padding-inline: clamp(1rem, 0.1485rem + 3.1683vw, 3rem);

  &-lg {
    max-width: $max-width-lg;
  }
  &-md {
    max-width: $max-width-md;
  }
}

// .container,
// .wrapper {
//   border: 1px solid red;
// }

h2 {
  text-transform: uppercase;
  font-size: $fs-fluid-600;
  font-weight: $fw-extra-bold;
  text-align: center;
  position: relative;
}
h2::before {
  content: url(~/assets/images/thermaze-square-logo.svg);
  width: clamp(2.5rem, 2.4202rem + 0.297vw, 2.6875rem);
  position: absolute;
  top: -3.75rem;
  left: 50%;
  transform: translateX(-50%);
}

h2,
h3,
h4 {
  color: $clr-primary-400;
}

h3,
h4 {
  font-size: $fs-fluid-470;
  font-weight: $fw-bold;
}
p {
  font-size: $fs-regular;
  font-weight: $fw-regular;
}
a {
  text-decoration: none;
  color: $clr-neutral-100;

}

