@use "../abstracts" as *;

body {
  font-family: $ff-400;
  background-color: $clr-neutral-300;
}

.container {
  border: 1px solid green;
  max-width: $max-width-md;
  margin: 0 auto;
  padding: 2rem clamp(0.5rem, -0.5644rem + 3.9604vw, 3rem) 3rem clamp(0.5rem, -0.5644rem + 3.9604vw, 2rem);
}

h2,
h3,
h4 {
  color: $clr-primary-400;
}

h3,
h4 {
  font-size: $fs-fluid-470;
  font-weight: $fw-bold;
}
p {
  font-size: $fs-fluid-200;
  font-weight: $fw-regular;
}
a {
  text-decoration: none;
  color: $clr-neutral-100;
}

/* sections general style */

h2 {
  text-transform: uppercase;
  font-size: $fs-fluid-600;
  font-weight: $fw-extra-bold;
  text-align: center;
  position: relative;
}
h2::before {
  content: url(./images/thermaze-square-logo.svg);
  width: clamp(2.5rem, 2.4202rem + 0.297vw, 2.6875rem);
  position: absolute;
  top: -3.75rem;
  left: 50%;
  transform: translateX(-50%);
}