@use "../abstracts" as *;

.contact {
  .container {
    padding-inline: unset;
  }
  .wrapper {
    margin-top: 1.5rem;
    display: grid;
    gap: 3rem;

    > * {
      min-width: 100px;
    }

    @include lg {
      grid-template-columns: 2fr 1fr;
      align-items: start;
      gap: 0;
    }
  }
}

//contact form style

.contact-form {
  padding-inline: clamp(1rem, 0.1485rem + 3.1683vw, 3rem);
  max-width: 100%;

  .contact-form-line {
    @include lg {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
  }

  label {
    margin-top: 1.125rem;
    display: block;
    color: $clr-primary-400;
    font-weight: $fw-medium;
    width: 100%;
    // border: 1px solid teal;
  }

  .input,
  .message {
    margin-top: 0.5rem;
    padding: 0.25rem 0.5rem;
    border: unset;
    background: $clr-neutral-500;
    width: 100%;
    // border: 1px solid blue;
  }
  .message {
    resize: none;
  }
  .file-upload {
    margin-top: 1.5rem;
    color: $clr-neutral-800;
    font-weight: $fw-medium;
    max-width: 100%;
  }

  .file-upload::file-selector-button {
    background-color: unset;
    border: 1px solid $clr-neutral-800;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    padding: 0.3rem 2rem;
    cursor: pointer;
  }
  .file-upload::file-selector-button:hover {
    background: $clr-gradient;
    border: 1px solid $clr-primary-400;
    color: $clr-neutral-100;

  }

  .terms {
    margin-top: 1rem;
    font-size: $fs-small;
    line-height: 1.25;
    font-weight: $fw-light;
    display: grid;
    grid-template-columns: 1em auto;
    align-items: start;
    gap: 0.75em;

    input {
      height: 1em;
      width: 1em;
      appearance: none;
      background: none;
      border: 1px solid $clr-neutral-800;
      cursor: pointer;

      &:checked {
        background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="%237e222b"><path d="M21 6.285L9.84 19.018 3 13l1.319-1.49 5.341 4.686L19.525 5 21 6.285z"/></svg>');
        background-size: contain;
      }
    }

    a {
      color: $clr-neutral-800;
      text-decoration: underline;
    }
  }
  .form-btn {
    margin-top: 3rem;
    font-size: $fs-fluid-450;
    font-weight: $fw-bold;
    text-transform: uppercase;
  }
}

// contact details style

.contact-details {
  justify-self: end;
  background: $clr-gradient;
  padding: 4rem;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: start;
  border-radius: 1.25rem 0 0 1.25rem;
  width: 70%;

  @include lg {
    border-radius: 3rem 0 0 3rem;
    width: 100%;
  }

  .numbers a {
    display: block;
  }
  .contact-item {
    color: $clr-neutral-100;
    font-size: $fs-fluid-400;
    font-weight: $fw-extra-bold;
    display: grid;
    grid-template-columns: clamp(1.1875rem, 0.8948rem + 1.0891vw, 1.875rem) 1fr;
    align-items: center;
    gap: 1.5rem;

    &::before {
      content: "";
      height: clamp(1.1875rem, 0.8948rem + 1.0891vw, 1.875rem);
      display: block;
    }
  }
  .phone-numbers::before {
    background: url(~/assets/images/contact/phone.svg);
  }

  .working-hours::before {
    background: url(~/assets/images/contact/calendar.svg);
  }

  .email::before {
    background: url(~/assets/images/contact/email.svg);
  }

  .address::before {
    background: url(~/assets/images/contact/location.svg);
  }

  .address {
    max-width: 20ch;
  }
}