@use "../abstracts/" as *;

footer {
  background-color: $clr-primary-400;
  color: $clr-neutral-100;

  .container {
    padding-block: 1rem;

    @include lg {
      padding-block: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .footer-nav {
    margin-top: 1rem;
    font-size: $fs-fluid-100;
    font-weight: $fw-semi-bold;
    text-transform: uppercase;
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:  "terms  installations"
                          ".      repairs";
                  
    @include lg {
      margin: unset;
      grid-template-columns: max-content max-content max-content;
      grid-template-areas: unset;
      gap: 2rem;
    }

    .terms {
      grid-area: terms;

      @include lg {
        grid-area: unset;
        justify-self: unset;
      }
    }

    .installations {
      grid-area: installations;
      justify-self: end;

      @include lg {
        grid-area: unset;
        justify-self: unset;
      }
    }

    .repairs {
      grid-area: repairs;
      justify-self: end;

      @include lg {
        grid-area: unset;
        justify-self: unset;
      }
    }
  }
}