@use "../abstracts/" as *;

footer {
  margin-top: 6.375rem;
  background-color: $clr-primary-400;
  color: $clr-neutral-100;

  .container {
    @include lg {
      height: 7.25rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  p {
    font-size: $fs-fluid-450;
    font-weight: $fw-regular;
  }

  .footer-nav {
    margin-top: 2.5rem;
    font-size: $fs-fluid-250;
    font-weight: $fw-semi-bold;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;

    @include lg {
      margin: unset;
      width: 30em;
      justify-content: space-between;
    }
  }
}