@use "../abstracts" as *;
@use "../components/main-nav";
@use "../components/menu-button";

.header {
  .container {
    margin-top: unset;
    padding-block: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1000;

    img,
    .menu svg {
      height: clamp(2rem, 1.3614rem + 2.3762vw, 3.5rem);
    }
  }
}