@use "../abstracts/" as *;
@use "../components/cta-button";

.hero {

  .container {
    padding: unset;
    margin: 0 auto;
    position: relative;
  }

  &--cta {
    position: absolute;
    bottom: -3rem;
    left: 10%;
    right: 10%;
    padding-block: 3rem;
    padding-inline: 2rem;
    background: $clr-gradient-semi-transparent;
    color: $clr-neutral-100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2;
    border-radius: 1.25rem;
    text-align: center;
    align-items: center;

    @include lg {
      left: 0;
      right: unset;
      min-height: 60%;
      max-width: 60%;
      bottom: -4.625rem;
      margin: unset;
      border-radius: 0 3rem 3rem 0;
      padding-inline: 6.5rem;
      text-align: left;
      align-items: start;
    }
  }
  h1 {
    color: $clr-neutral-100;
    font-size: $fs-fluid-700;
    font-weight: $fw-black;
    text-transform: capitalize;
  }
}

