@use "../abstracts" as *;

.reviews {
  background-color: $clr-neutral-400;
}

.carousel {
  margin-top: clamp(1.5rem, 0.6485rem + 3.1683vw, 3.5rem);
  position: relative;

  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    fill-opacity: 0.2;
    cursor: pointer;

    &:where(:focus, :hover) {
      fill-opacity: 0.3;
    }
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }

  .cards {
    display: flex;
    gap: 1.25rem;
    align-items: center;
    justify-content: center;
  }

  .card {
    background: $clr-neutral-300;
    padding: 2rem;
    height: 30em;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 3.4375rem;
    }

    .customer-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }
    h5 {
      font-size: 1rem;
      font-weight: $fw-medium;
    }
    .rating {
      color: #ff8a00;
      font-size: 1.75rem;
    }
    p {
      margin-top: 0.5rem;
      text-align: center;
    }
  }
}