@use "../abstracts" as *;

.why-us {
  text-align: center;

  .grid {
    margin-top: clamp(1.5625rem, 0.0724rem + 5.5446vw, 5.0625rem);
    display: grid;
    gap: 2rem;

    @include lg {
      gap: 3rem;
      justify-content: space-around;
      grid-template-columns: 1fr 1fr;
    }
  }
  img {
    margin: 0 auto;
    width: clamp(2.625rem, 0.8156rem + 6.7327vw, 6.875rem);
  }
  h4 {
    margin-top: clamp(0.8125rem, 0.4134rem + 1.4851vw, 1.75rem);
  }
  p {
    margin-top: 0.625rem;
  }
}